/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar img.logo{
    margin-top: -100px;
    height: 150px;
    width: 180px;
    border-radius: 0%;
    
  }
  
  .nav-right {
    display: flex;
    gap: 20px;
  }
  
  .nav-right a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-right a:hover {
    color: #e40fb2;
  }
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.964);
    backdrop-filter: blur(20px);
    color: white;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 10px 0px 10px;
    
}
#footer .footer-content .logo img{
    
    height: 150px;
    width: 150px;
    padding-left: 5px;
}

#footer .footer-content .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;

}
#footer .footer-content .links a{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0px;
    color: white;

}#footer .footer-content .links a:hover{
        color: #cf30aa;
    }

.social-links {
    display: flex;
    
    right: 0px;
    gap: 10px;
    margin-bottom:0px;
}

.social-links a {
    color: white;
    font-size: 30px;
    transition: transform 0.3s, color 0.2s;
}

/* Hover effect with respective colors */
.social-links a:hover {
    transform: scale(2.2);
}

/* Individual colors for social media icons */
.social-links .twitter:hover {
    color: #1DA1F2; /* Twitter Blue */
}

.social-links .facebook:hover {
    color: #1877F2; /* Facebook Blue */
}

.social-links .instagram:hover {
    color: #dd062e; /* Instagram Pink-Red */
}

.social-links .whatsapp:hover {
    color: #0ce629; /* Google Plus Red */
}

.social-links .linkedin:hover {
    color: #0077B5; /* LinkedIn Blue */
}
  