.student-search {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 170px;
}

.student-search button {
    margin: 20px;
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;

}

.student-search input {
    width: 200px;
    height: 35px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    text-align: center;
}

.student-search button:hover {
    background-color: rgb(88, 171, 238);
}

.student-search input:hover {
    border: 1px solid rgb(208, 28, 16);
}
