* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 10px;
    color: white;
}


.navbar img{
    height: 100px;
    /* border-radius: 50%; */
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    color: coral;
}
body{
    background-color: black;
}

.nav-left img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
}